<div class="row">
	<div class="row">
		<br>
		<br>

	</div>
	<div class="col-md-offset-1 col-md-5">
		 <p class="title"> Tonleve | <span id='title'>Покупай. Продавай. Меняй.</span></p>
			<br><br>	
		
			
			<div class="container">	
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active "><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="font-size: 20px;">Товары</a></li>
    				<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" style="font-size: 20px;">Услуги</a></li>
				</ul><br>
				<div class="tab-content">
    				<div role="tabpanel" class="tab-pane active" id="home"><%= render 'layouts/products' %></div>
    				<div role="tabpanel" class="tab-pane" id="profile"><%= render 'layouts/services' %></div>
    			</div>
			</div>
	</div>
	<div class="col-md-3" style="margin-left: 250px;">
		<div class="row">
			
		</div><br>
		<div class="row">
			
		</div>

		
	</div>
</div>
