
				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-building fa-5x"></i>
						<h3>Инженерно-строительные услуги</h3>	
					</div>
				
					<div class="col-md-3">
						<i class="fa fa-bicycle fa-5x"></i>	
						<h3>Услуги проката и аренды</h3>	
					</div>

					<div class="col-md-3">
						<i class="fa fa-line-chart fa-5x"></i>	
						<h3>Деловые услуги</h3>
					</div> 
				</div>

				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-wrench fa-5x"></i>	
						<h3>Ремонт и обслуживание техники и оборудования</h3>	
					</div>
				
					<div class="col-md-3">
						<i class="fa fa-location-arrow fa-5x"></i>	
						<h3>Логистические и складские услуги</h3>
					</div>

					<div class="col-md-3">
						<i class="fa fa-users fa-5x"></i>
						<h3>Бытовые услуги</h3>	
					</div> 
				</div>

				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-industry fa-5x"></i>
						<h3>Промышленные услуги</h3>	
					</div>
				
					<div class="col-md-3">
						<i class="fa fa-glass fa-5x"></i>	
						<h3>Услуги досуга, отдыха, культуры</h3>
					</div>

					<div class="col-md-3">
						<i class="fa fa-shield fa-5x"></i>	
						<h3>Страхование</h3>
					</div> 
				</div>

				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-heartbeat fa-5x"></i>
						<h3>Услуги в сфере медицины, здоровья и красоты</h3>	
					</div>
				
					<div class="col-md-3">
						<i class="fa fa-paint-brush fa-5x"></i>	
						<h3>Полиграфические и дизайнерские услуги</h3>
					</div>

					<div class="col-md-3">
						<i class="fa fa-star fa-5x"></i>	
						<h3>Реклама, маркетинг, PR</h3>
					</div> 
				</div>

				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-graduation-cap fa-5x"></i>
						<h3>Услуги в сфере образования, тренинги</h3>	
					</div>
				
					<div class="col-md-3">
						<i class="fa fa-home fa-5x"></i>	
						<h3>Аренда недвижимости, риэлторские услуги</h3>
					</div>

					<div class="col-md-3">
						<i class="fa fa-globe fa-5x"></i>	
						<h3>Защита окружающей среды</h3>
					</div> 
				</div>

				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-lock fa-5x"></i>
						<h3>Охранные, аварийные и экстренные службы</h3>	
					</div>
				
					<div class="col-md-3">
						<i class="fa fa-barcode fa-5x"></i>
						<h3>Информационно-коммуникационные услуги</h3>
					</div>

					<div class="col-md-3">
						<i class="fa fa-recycle fa-5x"></i>	
						<h3>Коммунальные услуги</h3>
					</div> 
				</div>

				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-shopping-basket fa-5x"></i>
						<h3>Сельскохозяйственные услуги</h3>	
					</div>
				</div>
				